<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.kpi.comsys.iv8107">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name="ua.kpi.comsys.iv8107.FourthActivity" />
        <activity android:name="ua.kpi.comsys.iv8107.AddBook" />
        <activity android:name="ua.kpi.comsys.iv8107.InfoOfBook" />
        <activity android:name="ua.kpi.comsys.iv8107.ThirdActivity" />
        <activity android:name="ua.kpi.comsys.iv8107.SecondActivity" />
        <activity android:name="ua.kpi.comsys.iv8107.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>